<p>フォロー一覧</p><br/>
  <tbody>
  <% @customers.each do |customer| %>
    <tr>
      <!--<td><%#= attachment_image_tag user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg" , size:"40x40" %></td>-->
      <td>
        <%= link_to customer.nickname, customer_path(customer) %>
      </td>
      <td>フォロー数：<%= customer.followings.count %></td>
      <td>フォロワー数：<%= customer.followers.count %></td>
    </tr>
  <% end %>
  </tbody>