<div class="container mt-4 align-items-center">
  <div class="row">
    <p>フォロワー</p>
  </div>
  <div class="row">
    <% if @customers.exists? %>
      <% @customers.each do |customer| %>
        <p><%= image_tag customer.get_profile_image(80,80), size: "80x80" %></p>
        <p class="pl-5 pr-3 pt-4"><%= link_to customer.nickname, customer_path(customer) %></p>
      <% end %>
    <% else %>
        <p>はいません</p>
    <% end %>
  </div>
</div>