<div class="body-field row align-items-center">
  <%= f.hidden_field :_destroy %>
  <div class="col">
    <div class="form-group">
      <%= f.text_area :body, placeholder: "作り方（必須）", class: "form-control", rows: "2" %>
      <%#= f.label :body, raw("作り方" + content_tag(:span, "", class: "required-label")) %>
    </div>
  </div>
  <div class="col-auto">
    <!--<div class="input-group">-->
      <%#= f.text_area :body, placeholder: "作り方（必須）", class: "form-control", rows: "2" %>
      <div class="input-group-append ml-4">
        <button type="button" class="btn btn-danger remove-body">
          <i class="fas fa-trash-alt"></i>
        </button>
      </div>
    <!--</div>-->
  </div>
</div>

<script>
  $(document).ready(function(){
    // 削除ボタンがクリックされたときの処理
    $(document).on('click', '.remove-body', function(){
      // クリックされた削除ボタンに最も近い.instruction-fieldにある_destroyフィールドをtrueに設定
      $(this).closest('.body-field').find("input[name$='[_destroy]']").val('true');
      // そして、そのフィールドを隠す（removeでは削除、hideでは要素を隠す）
      $(this).closest('.body-field').hide();
    });
  });
</script>
