<div class="about-image">
  <%= image_tag('about.jpg', class: "img-fluid") %>
</div>

<div class="p-5" style="background-color: rgba(255, 255, 255, 0.5);">
  <h3 class="text-center p-3">
    <span style="padding: 5px;">食材を無駄にしない</span>
  </h3>
  <div style="margin-top: 20px;">
    <h5 class="text-center" style="line-height: 2.5;">
      <span style="padding: 1px;">
        一人さみしく残ってしまった食材。<br>
        あなただけが彼らを笑顔にできます。<br>
        残り物レシピを共有することで<br>
        あなたも、誰かも、そしてみんなが<br>
        残り物に困ることなく料理が楽しくなります。
      </span>
    </h5>
  </div>
</div>