<div class="container">
  <div class="row mt-5">
    <% @timeline.each do |timeline| %>
    <div class="col-md-3 mb-5 mt-5">
      <div class="card">
        <%= image_tag timeline.image, class: "img-fluid" %>
        <div class="card-body text-center">
          <p class="card-text">
            <%= image_tag timeline.customer.get_profile_image(80,80) %>
            <%= link_to recipe_path(timeline) do %>
              <%= timeline.title %>
            <% end %>
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>