// Bootstrap導入のための追記
@use '~bootstrap/scss/bootstrap';

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500;900&family=Noto+Sans+JP:wght@300;900&display=swap');

body {
  // ref: https://coliss.com/articles/build-websites/operation/css/css-responsive-full-background-image-by-sixrevisions.html

  /* 画像ファイルの指定 */
  background-image: url("../images/background-image.jpg");

  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;

  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;

  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;

  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;

  /* 背景画像が読み込まれる前に表示される背景のカラー */
  background-color: #464646;

  // ref: https://developer.mozilla.org/ja/docs/Web/CSS/background-blend-mode
  background-blend-mode: lighten;

  font-family: 'Noto Sans JP', sans-serif;
}

.nav-item a {
  color: #593723 ;
}

.nav-link {
  text-decoration: none;
  color: #8a3319 ;
}

.my-page-text {
  color: #8a3319 ;
}

.card-body-title a {
  color: #583822 ;
}

.card-body-title {
  flex: 1;
  text-align: center;
}

.table-title {
  color: #D9C7B8 ;
}

.table-body {
  color: #593723 ;
}

.table-edit-title {
  color: #D9C7B8 ;
}

.title {
  color: #593723 ;
}

.btn-outline-secondary {
  background: #8C6F5E;
  color: #D9C7B8;
}

.btn-outline-danger {
  background: #96514d;
  color: #f2c9ac;
}

.nav-link active {
  background-color: #8C6F5E;
}

.btn-md {
  font-size: 1rem;
  line-height: 1.5;
}

.item__paginate{
  width: 100%;
  margin: auto;
}

// ページネーション全体
.pagination{
  text-align: center;
  display: flex;
  justify-content: center;
}

// ページネーションのspan
.pagination span{
  text-align: center;
  width: 50px;
  font-size: 15px;
}

// ページネーションのリンク文字（a）
.pagination a{
  color: #818181;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: bold;
  padding: 10px;
}

// ページネーションの文字にカーソルを載せた時
.pagination a:hover{
  width: 50px;
  height: 50px;
  background-color: #BF7636;
  color: #FFF;
  border-radius: 100%;
  padding: 10px;
}

// 現在のページの数字についての表記
.current{
  font-weight: bold;
  color: #593723;
  padding: 10px;
}
